{% extends 'base.html'%}

{% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            <h3>Add a new student</h3>
            <hr>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label(
                    class="form-label") }} <br/>
                {{ form.username(
                    class="form-control") }}<br/>
                {% for error in form.username.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.adm_number.label(
                    class="form-label") }} <br/>
                {{ form.adm_number(
                    class="form-control") }}<br>
                {% for error in form.adm_number.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label(
                    class="form-label") }}<br>
                {{ form.email(
                    class="form-control") }}<br> 
            </p>
            <p> {{ form.submit() }}</p>
        </form>
    </div>
    <br/><br/>
        <table class="table table-hover
        table-bordered table-striped">
        <h2>List of Students</h2>
        {% for student in students %}
        <tr>
            <td>
            {{ student.id }}. {{ student.username }} - {{ student.adm_number }}
            </tr>
        </tr>
        {% endfor %}
        </table>
{% endblock %}