{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close"
        data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
{% endfor %}
<br/><br/><br/>
    <form method="POST">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h3> Attachment Request</h3>
            <hr>
            {{ form.hidden_tag() }}
            
            <p>
                {{ form.start_date.label(
                    class="form-label") }} <br> 
                {{ form.start_date(
                    class="form-control") }} <br>
            </p>
            <p>
                {{ form.end_date.label(
                    class="form-label") }} <br> 
                {{ form.end_date(
                    class="form-control") }} <br>
            </p>
            <p> {{ form.submit() }}</p>
        </div>
    </form>
<br/><br/><br/>
{% endblock %}