<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxs-home icon"></i>
            <div class="logo_name">IAMS</div>
            <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..." />
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="{{ url_for('index') }}">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="{{ url_for('profile') }}">
                <i class="bx bx-user"></i>
                <span class="links_name">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="{{ url_for('apply') }}">
                <i class="bx bx-edit"></i>
                <span class="links_name">Attachment Application</span>
            </a>
            <span class="tooltip">Apply</span>
        {% if current_user.is_admin == True %}
        <li>
            <a href="{{ url_for('add_student')}}">
                <i class="bx bx-cog"></i>
                <span class="links_name">Manage</span>
            </a>
            <span class="tooltip">Add/Remove Student</span>
        </li>
        {% endif %}
        <li class="profile">
            <div class="profile-details">
                <img src="{{ url_for('static', filename='images/profile1.jpg') }}" alt="profileImg" width=45%>
                <div class="name_job">
                <div class="name">{{ current_user.username }}</div>
                <div class="job">Student</div>
                </div>
            </div>
            <a href="{{ url_for('logout') }}">
                <i class="bx bx-log-out" id="log_out"></i>
            </a>
        </li>
    </ul>
</div>
