{% extends "base.html" %}

{% block content %}
<br/><br/><br/>
    <form method="POST">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h3>Sign Up</h3>
            <hr>
            {{ form.hidden_tag() }}
            <p>
                {{ form.user.label(
                    class="form-label") }} <br>
                {{ form.user(
                    class="form-control") }}<br>
            </p>
            <p>
                {{ form.usernumber.label(
                    class="form-label") }} <br>
                {{ form.usernumber(
                    class="form-control") }}<br>
            </p>
            <p> 
                {{ form.new_password.label(
                    class="form-label") }}
                {{ form.new_password(
                    class="form-control") }}
            </p>
            <p>
                {{ form.confirm_password.label(
                    class="form-label") }}
                {{ form.confirm_password(
                    class="form-control") }}
            </p>
            <p> {{ form.register() }}</p>
        </div>
    </form>
{% endblock %}